.App {
  text-align: center;
}

.ph-profile{
  margin: 6%;
  border-radius: 30%;
 
}
.cadre{
  border-width: 3px;
  border-style: dotted;
  box-shadow: 4cqmax;
  margin: 5% 15%;
  padding: 3%;
  width: 70%;
  
 
}
h1{
  margin: 5%;
  padding: 6%;
  font-style: italic;
  font-size: x-large;
  color: blue;
}

h2{

  font-style:normal;
  font-size:xx-large;
  /* color: aqua; */
  /* background-color: aquamarine; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font: weight 700px;
  padding: 20px;
  text-align: center;

}
.ph-nom{
  display: flex;
  justify-content: space-around;
}
.bagages{
  display: flex;
  justify-content: space-around;

}
h4{
border-width:4px;

}
.design{
  margin: 4%;
  padding: 1%;
  background-color: rgba(89, 217, 174, 0.13);
  border-radius: 50%;

}
a{
  margin: 2%;
}